/* Imports */

@import url("./fonts/roboto.css");

/* Normalizing */

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
* {
    color: #f00 !important;
}

.button,
.input {
    padding: 5px;
    width: 100%;
}

.a {
    margin-bottom: 10px;
    padding: 5px 0;
}

.p {
    word-wrap: break-word;
    font-size: x-small;
}

.image,
.video {
    margin-bottom: 10px;
    width: 100%;
}

/* Debugging */

div {
    border: 0px solid #000;
}

/* Styles For App Class Using BEM */

.app {
    height: 100%;
    width: 100%;
}

.app__head {
    display: flex;
    height: 10%;
    width: 100%;
}

.show__connection-state {
    font-size: x-small;
    height: 100%;
    width: 50%;
}

.show__client-id {
    font-size: small;
    height: 100%;
    width: 75%;
}

.show__connection-input,
.show__client-name {
    font-size: small;
    height: 100%;
    width: 100%;
}

.show__connection-state,
.show__connection-input,
.show__client-name,
.show__client-id {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

.app__body {
    display: flex;
    height: 90%;
    width: 100%;
}

.app__body::-webkit-scrollbar {
    display: none;
}

.preview {
    height: 100%;
    width: 100%;
}

.preview__content {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    height: 90%;
}

.preview__controls {
    display: flex;
    height: 10%;
}

.history {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
}

.chat {
    height: 100%;
    width: 100%;
}

.chat__content {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    height: 90%;
}

.chat__controls {
    display: flex;
    height: 10%;
}

.preview__content::-webkit-scrollbar,
.chat__content::-webkit-scrollbar,
.history::-webkit-scrollbar {
    display: none;
}

/* Utils */

.div-stretch {
    height: 100%;
}

.div-expand {
    width: 100%;
}

.div-pad {
    padding: 5px;
}

/* Color Theme */

.app {
    color: #fff;
}

.app__head {
    background-color: #111111;
    border-bottom: 1px solid #f00;
}

.app__body {
    background-color: #1b1b1b;
}

.preview {
    border-right: 1px solid #f00;
}

.history {
    border-left: 1px solid #f00;
}

.preview,
.history {
    background-color: #191919;
}

.input {
    background-color: #000;
    border: 1px solid #f00;
    outline: 0 solid #000;
    border-radius: 5px;
    color: #fff;
}

.image,
.video {
    border-radius: 10px;
}

.image:hover,
.video:hover {
    box-shadow: 0 0 5px #fff;
}

.button {
    background-color: #000;
    border: 1px solid #f00;
    outline: 0 solid #000;
    border-radius: 5px;
    color: #fff;
}

.button:hover,
.input:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.button:active {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

/* Mobile Support */

/* @media screen and (max-width: 500px) {
    .app__body {
        overflow-x: hidden;
        overflow-y: scroll;
        display: block;
    }

    .preview {
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .chat {
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
} */
