<div class="preview border__red-right">
    <div class="preview__content" id="preview"></div>

    <div class="preview__controls">
        <div class="div-expand div-pad div-flex div-center">
            <input type="file" class="input" id="file-input" multiple />
        </div>

        <div class="div-expand div-pad div-flex div-center">
            <button id="send-files" class="button">Enviar</button>
        </div>
    </div>
</div>

<div class="chat" id="chat">
    <div class="chat__content" id="messages"></div>

    <div class="chat__controls">
        <div class="div-expand div-pad div-flex div-center">
            <input type="text" class="input" id="message" placeholder="Escribe tu mensaje" />
        </div>

        <div class="div-expand div-pad div-flex div-center">
            <button id="send-message" class="button">Enviar</button>
        </div>
    </div>
</div>

<div class="history border__red-left" id="history"></div>
