<div class="show__client-id">
    <input type="text" class="input" id="identifier" />
</div>

<div class="show__connection-state" id="connection-state">Desemparejado</div>

<div class="show__connection-input">
    <input type="text" class="input" id="connection-input" placeholder="Ingresa el código de la maquina a la que conectarse" />
</div>

<div class="show__client-name">
    <input type="text" class="input" id="username" placeholder="Ingresa tu nombre de usuario" />
</div>
